.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    text-decoration: none;
    border-bottom: 2px solid $grey;

    margin: 1.5rem 5rem;

    .header-menu {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        text-align: right;

        &__item {
            color: $text;
            font-weight: 500;
            text-decoration: none;
            border-bottom: 4px solid $pure-white;

            padding: 1rem;

            transition: all .2s;

            &:hover {
                color: $primary;
                border-bottom: 4px solid $primary;
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;

    margin: 0 5rem;

    .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 30%;

        background-color: $text;

        &-item {
            color: $pure-white;
            text-decoration: none;
            border-bottom: 4px solid $pure-white;

            padding: 1rem 2rem;

            transition: all .2s;

            &:hover {
                color: $primary;
                border-bottom: 4px solid $primary;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        width: 70%;

        margin-bottom: 1.5rem;

        &-carousell {
            display: flex;
            justify-content: center;

            margin-left: 1.5rem;

            transition: all .2s;

            &:hover {
                box-shadow: 0 0 1rem 0.2rem rgba($text, 0.2);
            }
        }
        
        .main-cards {
            display: flex;
            justify-content: space-between;

            margin-top: 1.5rem;
            &__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;

                text-align: justify;
                border-radius: 0.5rem;

                margin-left: 1.5rem;
                padding-bottom: 1rem;

                transition: all .2s;

                &:hover {
                    box-shadow: 0 0 1rem 0.2rem rgba($text, 0.2);
                }

                &-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    &--text {
                        padding: 2rem;
                    }
                    &--button {

                        color: $pure-white;
                        background-color: $highlight;
                        border: none;
                        border-radius: 0.5rem;

                        padding: 1rem 2rem;

                        transition: all .2s;

                        &:hover {
                            background-color: $text;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: $primary;

    padding: 1.5rem 5rem;

    &-menu__item {
        color: $pure-white;
        text-decoration: none;
        border-right: 0.3rem solid $pure-white;

        padding: 1rem;

        transition: all .2s;

        &:hover {
            color: $text;
        }
    }
}

// MEDIA QUERYS
@media (max-width: 900px) {
    .main-cards {
        flex-direction: column;

    }
    .content .main .main-cards .main-cards__card {
        width: 100%;
        flex-direction: row;

        img {
            width: 100%;
        }
    }
}


@media (max-width: 690px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;

        .header-menu {
            justify-content: flex-start;
        }

    }
    
    .content {
        flex-direction: column-reverse;
        margin: 1rem;

        .main-carousell {
            margin: auto;
        }

        .main {
            width: 100%;
            margin: auto;

            .main-cards__card {
                margin: 0 0 1rem 0;
                padding: 0;
            }
        }
    }
    .footer {
        padding: 1rem;
        flex-direction: column;

        &-menu {
            margin-bottom: 2rem;

            &__item {
                padding: 1rem;
                border: none;
            }
        }
    }
}

@media (max-width: 420px) {
    .header {
        align-items: center;
        margin: auto;
        .header-menu {
            justify-content: center;
        }
    }
    
    .content {
        margin: auto;
        .main .main-cards .main-cards__card {
            width: 100%;
            flex-direction: column;
    
            img {
                width: 100%;
            }
        }
    }
}