.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    text-decoration: none;
    border-bottom: 2px solid $grey;

    margin: 1.5rem 5rem;

    .header-menu {
        display: flex;
        justify-content: space-between;
        min-width: 30%;

        text-align: right;

        .header-menu__item {
            color: $text;
            text-decoration: none;
            border-bottom: 4px solid $pure-white;

            padding: 1rem;

            transition: all .2s;

            &:hover {
                color: $primary;
                border-bottom: 4px solid $primary;
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;

    margin: 0 5rem;

    .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 30%;

        background-color: $text;

        .sidebar-item {
            color: $pure-white;
            text-decoration: none;
            border-bottom: 4px solid $pure-white;

            padding: 1rem 2rem;

            transition: all .2s;

            &:hover {
                color: $primary;
                border-bottom: 4px solid $primary;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        width: 70%;

        margin-bottom: 5rem;

        .main-carousell {
            display: flex;
            justify-content: center;

            margin-left: 1.5rem;

            transition: all .2s;

            &:hover {
                box-shadow: 0 0 1rem 0.5rem rgba($text, 0.2);
            }
        }
        
        .main-cards {
            display: flex;
            justify-content: space-between;

            margin-top: 1.5rem;
            .main-cards__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;

                text-align: justify;
                border-radius: 0.5rem;

                margin-left: 1.5rem;
                padding-bottom: 1rem;

                transition: all .2s;

                &:hover {
                    box-shadow: 0 0 1rem 0.5rem rgba($text, 0.2);
                }

                .main-cards__card--text {
                    padding: 2rem;
                }
                .main-cards__card--button {
                    width: 20%;

                    color: $pure-white;
                    background-color: $highlight;
                    border: none;
                    border-radius: 0.5rem;

                    padding: 1rem;

                    transition: all .2s;

                    &:hover {
                        background-color: $text;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: $primary;

    padding: 1.5rem 5rem;

    .footer-menu__item {
        color: $pure-white;
        text-decoration: none;
        border-right: 0.3rem solid $pure-white;

        padding: 1rem;

        transition: all .2s;

        &:hover {
            color: $text;
        }
    }
}
