.content {
    display: flex;
    justify-content: space-between;

    margin: 0 5rem;

    .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 30%;

        background-color: $text;

        &-dropdown {
            display: flex;
            flex-direction: column;

            &__item {
                color: $pure-white;
                text-decoration: none;
                border-bottom: 4px solid $pure-white;
    
                padding: 1rem 2rem;
                
                cursor: pointer;
                transition: all .2s;
    
                &:hover {
                    color: $primary;
                    border-bottom: 4px solid $primary;
                }

                &--expand {
                    display: none;
                    transition: all .2s;
                    
                    background-color: $highlight;
                    min-width: 160px;

                    z-index: 1;    
                    
                    a {
                        display: block;

                        color: $pure-white;
                        text-decoration: none;
                        border-bottom: 0.2rem solid rgba($pure-white, 0.2);

                        padding: 1.2rem 1.6rem;
                        font-weight: 200;
                        
                        transition: 0.3s all;

                        &:hover {
                            background-color: $primary;
                        }
                    }

                    &.show {
                        display: flex;
                    }
                }
            }    
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        width: 70%;

        margin-bottom: 1.5rem;

        &-wrapper {
            display: flex;
            justify-content: center;

            //max-width: 1000px;
            position: relative;
            //margin: auto;

            margin-left: 1.5rem;

            * {
                box-sizing: border-box;
            }

            &-carousell {
                display: none;
            }
            .carousell__button--next, 
            .carousell__button--prev {
                position: absolute;
                bottom: 50%;
                width: auto;

                color: $text;
                background-color: rgba($pure-white, 0.3);            
                font-weight: 600;
                font-size: 2rem;
                user-select: none;

                padding: 3rem 1rem;

                cursor: pointer;
                transition: 0.6s ease;

                &:hover {
                    background-color: rgba($pure-white, 0.5);            
                }
            }
            
            .carousell__button--prev {
                right: 0;
            }
            .carousell__button--next {
                left: 0;
            }
        }
        &-dots {
            text-align: center;

            &__dot {
                display: inline-block;
                height: 1rem;
                width: 1rem;

                background-color: $grey;
                border-radius: 50%;

                margin: 0 0.2rem;

                cursor: pointer;
                transition: background-color 0.6s ease;

                &.active, &:hover {
                    background-color: $primary;
                }
            }
        }
        
        .main-cards {
            display: flex;
            justify-content: space-between;

            margin-top: 1.5rem;
            &__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;

                text-align: justify;
                border-radius: 0.5rem;

                margin-left: 1.5rem;
                padding-bottom: 1rem;

                transition: all .2s;

                img {
                    width: 100%;
                }

                &:hover {
                    box-shadow: 0 0 1rem 0.2rem rgba($text, 0.2);
                }

                &-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    &--text {
                        padding: 2rem;
                    }
                    &--button {
                        font-family: $default-font, sans-serif;
                        color: $pure-white;
                        background-color: $highlight;
                        border: none;
                        border-radius: 0.5rem;

                        padding: 1rem 2rem;

                        transition: all .2s;

                        &:hover {
                            background-color: $text;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}