@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65.5%;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

body {
  color: #283B45;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  border-bottom: 2px solid #D9D9DA;
  margin: 1.5rem 5rem;
}
.header .header-menu {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  text-align: right;
}
.header .header-menu__item {
  color: #283B45;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 4px solid #fff;
  padding: 1rem;
  transition: all 0.2s;
}
.header .header-menu__item:hover {
  color: #CDB26E;
  border-bottom: 4px solid #CDB26E;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}
.content .sidebar {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  background-color: #283B45;
}
.content .sidebar-dropdown {
  display: flex;
  flex-direction: column;
}
.content .sidebar-dropdown__item {
  color: #fff;
  text-decoration: none;
  border-bottom: 4px solid #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.content .sidebar-dropdown__item:hover {
  color: #CDB26E;
  border-bottom: 4px solid #CDB26E;
}
.content .sidebar-dropdown__item--expand {
  display: none;
  transition: all 0.2s;
  background-color: #2D757A;
  min-width: 160px;
  z-index: 1;
}
.content .sidebar-dropdown__item--expand a {
  display: block;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
  padding: 1.2rem 1.6rem;
  font-weight: 200;
  transition: 0.3s all;
}
.content .sidebar-dropdown__item--expand a:hover {
  background-color: #CDB26E;
}
.content .sidebar-dropdown__item--expand.show {
  display: flex;
}
.content .main {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 70%;
  margin-bottom: 1.5rem;
}
.content .main-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 1.5rem;
}
.content .main-wrapper * {
  box-sizing: border-box;
}
.content .main-wrapper-carousell {
  display: none;
}
.content .main-wrapper .carousell__button--next,
.content .main-wrapper .carousell__button--prev {
  position: absolute;
  bottom: 50%;
  width: auto;
  color: #283B45;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  font-size: 2rem;
  user-select: none;
  padding: 3rem 1rem;
  cursor: pointer;
  transition: 0.6s ease;
}
.content .main-wrapper .carousell__button--next:hover,
.content .main-wrapper .carousell__button--prev:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.content .main-wrapper .carousell__button--prev {
  right: 0;
}
.content .main-wrapper .carousell__button--next {
  left: 0;
}
.content .main-dots {
  text-align: center;
}
.content .main-dots__dot {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #D9D9DA;
  border-radius: 50%;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.content .main-dots__dot.active, .content .main-dots__dot:hover {
  background-color: #CDB26E;
}
.content .main .main-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.content .main .main-cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: justify;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  transition: all 0.2s;
}
.content .main .main-cards__card img {
  width: 100%;
}
.content .main .main-cards__card:hover {
  box-shadow: 0 0 1rem 0.2rem rgba(40, 59, 69, 0.2);
}
.content .main .main-cards__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content .main .main-cards__card-content--text {
  padding: 2rem;
}
.content .main .main-cards__card-content--button {
  color: #fff;
  background-color: #2D757A;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
}
.content .main .main-cards__card-content--button:hover {
  background-color: #283B45;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CDB26E;
  padding: 1.5rem 5rem;
}
.footer-menu__item {
  color: #fff;
  text-decoration: none;
  border-right: 0.3rem solid #fff;
  padding: 1rem;
  transition: all 0.2s;
}
.footer-menu__item:hover {
  color: #283B45;
}

@media only screen and (max-width: 900px) {
  .main-cards {
    flex-direction: column;
  }

  .content .main .main-cards .main-cards__card {
    width: 100%;
    flex-direction: row;
    margin-left: 1.5rem;
  }
  .content .main .main-cards .main-cards__card img {
    width: 50%;
  }
}
@media only screen and (max-width: 690px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
  }
  .header .header-menu {
    justify-content: flex-start;
  }

  .content {
    flex-direction: column-reverse;
    margin: auto;
  }
  .content .main {
    width: 100%;
    margin: auto;
  }
  .content .main-wrapper {
    margin: auto;
  }
  .content .main-cards__card {
    margin: 0;
    padding: 0;
  }
  .content .main-cards__card img {
    max-width: 100%;
  }

  .footer {
    padding: 1rem;
    flex-direction: column;
  }
  .footer-menu {
    margin-bottom: 2rem;
  }
  .footer-menu__item {
    padding: 1rem;
    border: none;
  }
}
@media only screen and (max-width: 420px) {
  .header {
    align-items: center;
    margin: auto;
  }
  .header .header-menu {
    justify-content: center;
  }

  .content .main .main-cards .main-cards__card {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .content .main .main-cards .main-cards__card img {
    max-width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
